{% extends 'blog/base.html' %}
{% load static %}

{% block content %}
  <div class="col-sm-10">
     <h1 class="text-white my-5">About page </h1>
     <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse nostrum voluptates 
     delectus deleniti incidunt ducimus officiis facere reprehenderit repellat, et quibusdam provident.
      Nulla consectetur alias suscipit. Sit fuga voluptatum dolor!</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut velit magni fuga harum rerum enim,
       sequi sapiente itaque molestiae placeat id ut officiis esse culpa quae modi 
       optio similique quaerat?</p>
  </div>
{% endblock %}

